<!-- About Section -->
<section class="primary-bis" id="about">
    <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About me</h2>
        <br />
      </div>
    </div>
    <div class="row">
      
      <div class="col-lg-12 text-center">
        <p class="medium-dark">
          <br>
          I am a Python Developer with a specialization in Machine Learning. Currently, I am working with a stack of technologies including <b>Python, NumPy, Pandas, Scikit-learn, TensorFlow, PyTorch, Docker, and AWS</b>, which I use to tackle multiple projects. My experience ranges from predictive modeling to natural language processing, enabling me to handle diverse projects that come with unique challenges and opportunities. 
        </p>
        <br>
        <p class="medium-dark">
          
          Additionally,  I am a doctoral candidate in Philosophy, specializing in the Philosophy of Mathematics, Philosophy of Science, and Logic, with a remarkable track record - +12 years - in academic research and teaching. </p>
          <br>
        <p class="medium-dark">
          As a professional, I am known for my attention to detail, my dedication to excellence, and my continuous efforts to produce exceptional results that meet the highest standards of quality. I am committed to delivering solutions that offer a fresh and intellectually stimulating perspective. 
        </p>
        <br>
        <p class="medium-dark">
          With my diverse background, I have developed a unique ability to approach complex problems from different angles, resulting in a depth of insight and creativity that I bring to every project.
          As a Machine Learning Engineer and Data Scientist, I utilize my wealth of knowledge and expertise to create solutions that are both practical and elegant, ensuring their effectiveness in addressing the challenges at hand.
        </p>
        <br>
        <p class="medium-dark">
          I am currently seeking my next challenge in the field of machine learning. I am enthusiastic about leveraging my analytical, goal-oriented mindset, and problem-solving skills, which I have gained through my diverse career experiences, to deliver impactful solutions to complex business problems.
        </p>  <br>
        
        <p class="medium-dark"> 
          Thank you for visiting my website. I am looking forward to connecting with you soon! 
        </p>
        <br>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://drive.google.com/uc?export=download&id=19FaXFXkKGX0uPyRIzUbAsjD76p25ETG5" class="btn btn-lg btn-outline"> <i class="fa fa-download"></i> Download resume
        </a>
      </div>
    </div>
  </div>
</section>

