<!-- About Section -->
<section class="primary-bis" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <br />
      </div>
    </div>
    <div class="row">
      
      <div class="col-lg-12 text-center">
        <p>I am a Python Developer specialized in Machine Learning. I am currently working on multiple machine learning projects with this stack of technologies: Python, Numpy, Pandas, Scikit-learn, Keras, PyTorch, Docker, and AWS. I am also a Ph.D. in Philosophy candidate with extensive experience, +12 years, in academic research and teaching in the Philosophy of Mathematics, Philosophy of Science, and Logic.
        </p>
        <p> I am looking for my next challenge in the machine learning industry where I can find solutions to business problems and be impactful while deep diving into bring into play my analytical goal-oriented mindset and problem-solving skills gained in my different careers. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Resume
        </a>
      </div>
    </div>
  </div>
</section>
