<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolio_{{ post.modal-id-str }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-">
          <div class="modal-body">
            <div class="card mb-3" style="max-width: 100%;">
              <div class="row g-0">
                <div class="col-md-6">
                  <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                </div>
                <div class=".col-md-6 .ml-auto">
                  <div class="card-body">
                    <div class="card-text">
                      {% if post.technology %}
                      <p class="project"><strong>Technologies: </strong>{{ post.technology}}</p>
                      {% endif %}
                      {% if post.description %}
                      <p class="project"><b>Description: </b>{{ post.description }}</p>
                      {% endif %}
                      <ul class="list-inline item-details">
                        {% if post.client %}
                        <li>Client:
                          <strong>{{ post.client }}</strong>
                        </li>
                        {% endif %}
                        {% if post.project-date %}
                        <li>Date:
                          <strong>{{ post.project-date }}</strong>
                        </li>
                        {% endif %}
                      
                        {% if post.category %}
                        <li><p class="project"><strong>Category: </strong>{{ post.category }}</p>
                        </li>
                        {% endif %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-lg-offset-2 text-center">
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
