<!-- Portfolio Grid Section -->
<section id="portfolio" class="success">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Portfolio</h2>
        <hr class="star-primary">
        <br>
        <p class=" medium">Here you can find some of my projects, you are invited  to take a look.
        </p> 
        <p class="medium"> If you are interested in learning more about any of the projects or my work, please feel free to <a class="intext" href="#contact"><u>contact me</u></a> for more details.</p>
        <!-- <p class=" medium"><strong>Here you can find my portfolio of projects, and I invite you to take a look. 
        </strong></p> 
        <p class="medium"><strong>  If you are interested in learning more about any of the projects or my work, please feel free to <a class="intext" href="#contact"><u>contact me</u></a> for more details</strong></p> -->
        <br>
        <br>
      </div>
    </div>
    <div class="portfolio-flex-row">
      {% for post in site.posts %}
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolio_{{ post.modal-id-str }}" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
